<<<<<<< HEAD
body{
	/*background-image: url("bodybackground.jpg");*/
	/*background-repeat: no-repeat;*/
	background-size: 100px 2000px;
}
h1,h2,h3,h4,h5{
	line-height: 60%;
}
a{
	text-decoration: none;
}

#main{
	/*background-color: red;*/
	position: center;
	margin:0px auto;
	width: 1000px;
	height: 2000px;
	/*border: 1px solid red;*/
}
#banner{
	/*background-color: green;*/
	margin : 5px;
	height: 80px;
}
#content{
	margin: auto;
	/*height: 1000px;*/
	height: 2000px;
	/*background-color: yellow;*/
	/*border: 2px solid brown;*/
}
#left{
	margin: auto;
	width: 199px;
	height: inherit;
	/*background-color: pink;*/
	float:left;
}
#middle{
	margin:0px auto;
	width: 598px;
	height: inherit;
	/*background-color: blue;*/
	float:left;
}
#right{
	margin:auto;
	width: 199px;
	height: inherit;
	/*background-color: cyan;*/
	float:left;
}
#photo{
	padding-top: 40px;
	background-image: url(shield_shd_basic.png);
	background-repeat: no-repeat;
	background-size: 198px;
	height: 300px;
	/*margin:3px;*/
	margin-right: 0px;
	/*border: 2px solid green;*/
	/*border-radius: 10px;*/
}
#myphoto{
	border-style: dotted;
	border-color: grey;
	border-radius: 20px;

	margin-left: 17px;
	background-image: url(photo.jpg);
	background-repeat: no-repeat;
	background-size: 158px;
	height: 210px;
	width: 158px
}
#image{
	margin-left: 3px;
	/*height: 245px;*/
	/*width: 195px;*/
}

#topnavout{
	margin-left: 5px;
	margin-top:-15px;
	border-bottom: 5px solid #d1e0e0;
	/*background-color: magenta;*/
	height: 35px;
}
#topnav{
	margin: 0px;
	/*background-color: yellow;*/
	border-bottom: 5px solid #008080;
	height: 30px;
}
.navclass{
	z-index: -1;
	text-align: center;
	padding-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	list-style-type: none;
	background-color: #d1e0e0;
	width: 100px;
	height: 25px;
	margin-left:4px;
	margin-right: 4px;
	float:left;
	font-size: 18px;
	font-family: verdana;
}
.navclass:hover{
	background-color: #f0f5f5;
	/*font-size: 19px;*/
}
#current{
	background-color: #008080;
}
.navspan{
	color:white;
}
.navclass:hover .navspan{
	color:#008080;
}
#name{
	color : #008080;
	font-family: sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 1px;
	height: 205px;
	background-color: #eff5f5;
	border-radius: 30px;
	box-shadow: 5px 5px 3px #b3cccc;
	/*background-color: red;*/
}
#leftnav{
	margin-top: 0px;
	padding-top: 10px;
	/*width: 190px;*/
	min-height: 100px;
	background-color: #eff5f5;
	box-shadow: 5px 5px 3px #b3cccc;
	border-radius: 20px;
}
#leftnavlogo{
	color :white;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	padding-top: 2px;
	padding-left: 15px;
	height: 30px;
	background-color: yellow;
	background-image: url(h3_long.png);
	background-repeat: no-repeat;
	background-size: 170px;
}
#modal{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(1,0,0,0.6);
	z-index: 200;
}
#modalinside{
	background-color: white;
	/*box-shadow: 10px 10px 6px white;*/
	margin: 0px auto;
	margin-top: 150px;
	height: 200px;
	width: 500px;
	/*border: 2px solid red;*/
	border-radius: 10px;
}
#modalemail{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #d1e0e0;
	height: 30px;
	border-bottom: 1px solid grey;
}
#modalemailh3{
	padding-top: 9px;
	color: #008080;
	font-family: verdana;
}
.primalter{
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
	color: #008080;
	text-align: left;
	margin: 0px auto;
	margin-top: 4px;
	margin-left: 20px;
}
.email{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	height :30px;
	border-top:1px grey solid;
	border-bottom: 1px solid grey;
}
.mail{
	float: left;
	margin-top: 6px;
	margin-left: 20px;
	text-align: left;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	color: #008080;
}
.copybutton{
	margin-top: 2px;
	float: right;
	height: 20px;
	width: 65px;
	border:1px solid #008080;
	border-radius: 5px;
	color: #008080;
	font-weight: bold;
	font-size: 14px;
	font-family: verdana;
	padding-top: 4px;

}
.copybutton:hover{
	color:white;
	background-color: #008080;
}
#close{
	margin: 0px auto;
	margin-top: 13px;
	padding-top: 5px;
	height:20px;
	width: 60px;
	border:1px solid #008080;
	color: #008080;
	font-size: 12px;
	font-weight: bold;
	font-family :arial;
	border-radius: 5px;
}
#close:hover{
	color:white;
	background-color:red;
}
#leftnavdiv{
	background-color: red;
	margin:0px auto;
	margin-top: -5px;
=======
body{
	/*background-image: url("bodybackground.jpg");*/
	/*background-repeat: no-repeat;*/
	background-size: 100px 2000px;
}
h1,h2,h3,h4,h5{
	line-height: 60%;
}
a{
	text-decoration: none;
}

#main{
	/*background-color: red;*/
	position: center;
	margin:0px auto;
	width: 1000px;
	height: 2000px;
	/*border: 1px solid red;*/
}
#banner{
	/*background-color: green;*/
	margin : 5px;
	height: 80px;
}
#content{
	margin: auto;
	/*height: 1000px;*/
	height: 2000px;
	/*background-color: yellow;*/
	/*border: 2px solid brown;*/
}
#left{
	margin: auto;
	width: 199px;
	height: inherit;
	/*background-color: pink;*/
	float:left;
}
#middle{
	margin:0px auto;
	width: 598px;
	height: inherit;
	/*background-color: blue;*/
	float:left;
}
#right{
	margin:auto;
	width: 199px;
	height: inherit;
	/*background-color: cyan;*/
	float:left;
}
#photo{
	padding-top: 40px;
	background-image: url(shield_shd_basic.png);
	background-repeat: no-repeat;
	background-size: 198px;
	height: 300px;
	/*margin:3px;*/
	margin-right: 0px;
	/*border: 2px solid green;*/
	/*border-radius: 10px;*/
}
#myphoto{
	border-style: dotted;
	border-color: grey;
	border-radius: 20px;

	margin-left: 17px;
	background-image: url(photo.jpg);
	background-repeat: no-repeat;
	background-size: 158px;
	height: 210px;
	width: 158px
}
#image{
	margin-left: 3px;
	/*height: 245px;*/
	/*width: 195px;*/
}

#topnavout{
	margin-left: 5px;
	margin-top:-15px;
	border-bottom: 5px solid #d1e0e0;
	/*background-color: magenta;*/
	height: 35px;
}
#topnav{
	margin: 0px;
	/*background-color: yellow;*/
	border-bottom: 5px solid #008080;
	height: 30px;
}
.navclass{
	z-index: -1;
	text-align: center;
	padding-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	list-style-type: none;
	background-color: #d1e0e0;
	width: 100px;
	height: 25px;
	margin-left:4px;
	margin-right: 4px;
	float:left;
	font-size: 18px;
	font-family: verdana;
}
.navclass:hover{
	background-color: #f0f5f5;
	/*font-size: 19px;*/
}
#current{
	background-color: #008080;
}
.navspan{
	color:white;
}
.navclass:hover .navspan{
	color:#008080;
}
#name{
	color : #008080;
	font-family: sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 1px;
	height: 205px;
	background-color: #eff5f5;
	border-radius: 30px;
	box-shadow: 5px 5px 3px #b3cccc;
	/*background-color: red;*/
}
#leftnav{
	margin-top: 0px;
	padding-top: 10px;
	/*width: 190px;*/
	min-height: 100px;
	background-color: #eff5f5;
	box-shadow: 5px 5px 3px #b3cccc;
	border-radius: 20px;
}
#leftnavlogo{
	color :white;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	padding-top: 2px;
	padding-left: 15px;
	height: 30px;
	background-color: yellow;
	background-image: url(h3_long.png);
	background-repeat: no-repeat;
	background-size: 170px;
}
#modal{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(1,0,0,0.6);
	z-index: 200;
}
#modalinside{
	background-color: white;
	/*box-shadow: 10px 10px 6px white;*/
	margin: 0px auto;
	margin-top: 150px;
	height: 200px;
	width: 500px;
	/*border: 2px solid red;*/
	border-radius: 10px;
}
#modalemail{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #d1e0e0;
	height: 30px;
	border-bottom: 1px solid grey;
}
#modalemailh3{
	padding-top: 9px;
	color: #008080;
	font-family: verdana;
}
.primalter{
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
	color: #008080;
	text-align: left;
	margin: 0px auto;
	margin-top: 4px;
	margin-left: 20px;
}
.email{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	height :30px;
	border-top:1px grey solid;
	border-bottom: 1px solid grey;
}
.mail{
	float: left;
	margin-top: 6px;
	margin-left: 20px;
	text-align: left;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	color: #008080;
}
.copybutton{
	margin-top: 2px;
	float: right;
	height: 20px;
	width: 65px;
	border:1px solid #008080;
	border-radius: 5px;
	color: #008080;
	font-weight: bold;
	font-size: 14px;
	font-family: verdana;
	padding-top: 4px;

}
.copybutton:hover{
	color:white;
	background-color: #008080;
}
#close{
	margin: 0px auto;
	margin-top: 13px;
	padding-top: 5px;
	height:20px;
	width: 60px;
	border:1px solid #008080;
	color: #008080;
	font-size: 12px;
	font-weight: bold;
	font-family :arial;
	border-radius: 5px;
}
#close:hover{
	color:white;
	background-color:red;
}
#leftnavdiv{
	background-color: red;
	margin:0px auto;
	margin-top: -5px;
>>>>>>> 4e60156fbaa969140670f38f42c2f81ee748500f
}